---
import Title from '@components/hacked_printer/Title.astro'
import One from '@layouts/One.astro'
---

<One>
	<Title>Sistemas de Continuidad de Negocio</Title>
	<p>
		Cualquier tipo de evento que pueda afectar la supervivencia de la empresa
	</p>
	<h3>Continuidad de negicio ES</h3>
	<p>
		Un plan que garantice que los procesos o servicios críticos estén
		disponibles en el tiempo y la forma establecidos
	</p>
	<h3>Continuidad de negocio NO ES</h3>
	<ul>
		<li>
			No es un producto ni un software que tu compras (no es un firewall, etc)
		</li>
		<li>Un proyecto con un principio y un final</li>
		<li>
			Tampoco es cuando tu tienes capacidad para informatica(disaster recovery)
		</li>
	</ul>
	<h3>Contingencia TI (Amenazas lógicas)</h3>
	<ul>
		<li>Visión tradicional focalizada en tecnologías e instalaciones.</li>
		<li>Recuperar las actividades informáticas</li>
		<li>
			Apoyar el proceso global de gestión de continuidad de negocio garantizando
			las TI
		</li>
		<li>Orientado a replicar los sistemas de información, backup, etc.</li>
	</ul>
	<h3>Continuidad de negocio (te centras en amenazas de cualquier indole)</h3>
	<ul>
		<li>Marco para construis la capacidad global de resistencia.</li>
		<li>Restablecer las funciones críticas de la organización.</li>
		<li>Desde y para el negocio (focalizado)</li>
	</ul>
	<h3>Como implementar</h3>

	<h3>ISO 22301 - Sistemas de Gestión de Continuidad de Negocio</h3>
	<ul>
		<li>Contexto de la organización</li>
		<li>Liderazgo</li>
		<li>Planificación</li>
		<li>Soporte</li>
		<li>Operación</li>
		<li>Evaluación del desempeño</li>
		<li>Mejora continua</li>
	</ul>
	<h3>Política de Continuidad de Negocio</h3>
</One>
