---
import Layout from '@layouts/Layout.astro'

/* export async function getStaticPaths () {
	const collection = await getCollection('lab')
	return collection.map(item => {
		const [res] = item.slug.split('/')
		return {
			params: {
				resource: res
			}
		}
	})
}

const { resource } = Astro.params
const entry = await getCollection('lab', (item) => {
	return item.slug.includes(resource!)
}) */
---

<Layout title="hack the box">
	<h1>Stocker</h1>
	<div>
		<img src="https://www.hackthebox.com/storage/avatars/da052d0b0efd6dad222ba4a73d987c16.png" class="overflow-hidden w-8 h-8" />
	</div>
</Layout>
