---
import { getCollection } from 'astro:content'
import { BOXES, URLs } from 'src/consts'
import Title from '@components/redteam/Title.astro'
import One from '@layouts/One.astro'

const HACK_THE_BOXES = await getCollection(BOXES)
---

<One>
	<Title>Boxes</Title>
	<ul>
		{
			HACK_THE_BOXES.map((post) => (
				<li>
					<a
						target='_self'
						href={`/${URLs.BLACK_OR_WHITE}/${BOXES}/${post.slug}`}
					>
						{post.data.title}
					</a>
				</li>
			))
		}
	</ul>
</One>
