body, html {
	background-color: #f6f4f4;
	word-wrap: break-word;
	overflow-wrap: break-word;
	text-rendering: optimizelegibility;
	-moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
	scroll-behavior: smooth;
}

p {
	padding-top: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

ul, ol {
	padding-left: 2rem;
	padding-right: 2rem;
}

li {
	list-style: decimal;
}

h2 {
	font-weight: bold;
	font-size: 2rem;
	padding-top: 50px;
	padding-left: 1rem;
	padding-right: 1rem;
}

a {
	font-weight: 600;
	color: #3273dc;
}

a:hover {
	color: #265aac;
}

h3 {
	font-size: 1.4rem;
	font-weight: bold;
	padding-left: 1rem;
	padding-top: 50px;
	padding-right: 1rem;
	padding-bottom: 1rem;
}

nav a {
	margin-right: 10px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
	margin-left: 1rem;
}

th, td {
  text-align: left;
  padding: 4px;
	border: 1px solid;
}

textarea {
	width: 100%;
	font-size: 16px;
}

content {
	line-height: 1.6;
}

img {
	max-width: 100%;
	height: auto;
}

code {
	color: #286cda;
	padding: .25rem .7rem;
	background-color:#000000da;
}

pre {
	padding: 1rem;
}

pre > code {
	all: unset;
}

blockquote {
	border: 1px solid #999;
	color: #222;
	padding: 2px 0px 2px 20px;
	margin: 0px;
}