---
import Title from '@components/hacked_printer/Title.astro'
import { getCollection } from 'astro:content'
import { POWERSHELL } from 'src/consts'
import Link from './Link.astro'

const result = (
	await getCollection('hacked_printer', ({ id }) => {
		return id.startsWith(POWERSHELL)
	})
).sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf())
---

<section>
	<Title>Powershell</Title>
	<ul>
		{result.map((post) => <Link post={post} />)}
	</ul>
</section>
