---
import LabPost from '@layouts/LabPost.astro'
import { getCollection, getEntryBySlug } from 'astro:content'

export async function getStaticPaths () {
	const postsLabs = await getCollection('lab')
	return postsLabs.map((post) => {
		return {
			params: {
				slug: post.slug
			},
			props: post
		}
	})
}

const { slug } = Astro.params
const entry = await getEntryBySlug('lab', slug)
const data = entry?.data
const { Content } = await entry?.render()

---
<LabPost>
	<h1
		class='title text-3xl pb-4 sm:text-5xl text-slate-800 font-black'
	>
		{data?.title}
	</h1>
	{
		Content !== undefined &&	<Content />
	}
</LabPost>