---
import LabPost from '@layouts/LabPost.astro'
import { getEntryBySlug } from 'astro:content'
import { SLUGS } from 'src/consts'

interface Entry {
	blog: 'blog'
	clustering: 'clustering'
	ensamblers: 'ensamblers'
}

// type Props = CollectionEntry<'blog'>
export async function getStaticPaths () {
	return SLUGS
}

const { slug } = Astro.params
if (!slug) return Astro.redirect('/404')
const [par1, par2] = slug?.split('/')
const entry = await getEntryBySlug(par1, par2)
if (!entry) return Astro.redirect('/404')
const data = entry?.data
const { Content } = await entry?.render()

---
<LabPost>
	<h1>{data?.title}</h1>
	{
		Content !== undefined &&	<Content />
	}
</LabPost>