---
import LabPractices from '@components/LabPractices.astro'
import LabPost from '@layouts/LabPost.astro'
import { getCollection } from 'astro:content'
import { RESOURCE } from 'src/consts'

export async function getStaticPaths () {
	return RESOURCE
}

const { resource } = Astro.params
if (!resource) return Astro.redirect('/404')

const entry = await getCollection(resource as any)

---

<LabPost>
	<h1
		class='text-4xl font-bold text-neutral-400'>
	Practicas:
	</h1>
	<ul>
		{
			entry.map(({ slug, data }) => {
				return <LabPractices
					resource={resource}
					slug={slug}
					title={data.title}
				/>
			})
		}
	</ul>
</LabPost>
