---
import LabPractices from '@components/LabPractices.astro'
import LabPost from '@layouts/LabPost.astro'
import { getCollection } from 'astro:content'

export async function getStaticPaths () {
	const collection = await getCollection('lab')
	return collection.map(item => {
		const [res] = item.slug.split('/')
		return {
			params: {
				resource: res
			}
		}
	})
}

const { resource } = Astro.params
const entry = await getCollection('lab', (item) => {
	return item.slug.includes(resource!)
})
---

<LabPost title='Titulo'>
	<h1
		class='text-4xl font-bold text-slate-800 mb-12'>
	Practicas:
	</h1>
	<ul>
		{
			entry.map(({ slug, data }) => {
				return <LabPractices
					resource={resource}
					slug={slug}
					title={data.title}
				/>
			})
		}
	</ul>
</LabPost>
