---
import BaseHead from '@components/redteam/BaseHead.astro'

import NotesBufferOverflow from '@components/redteam/NotesBufferOverflow.astro'
import NotesTripJourny from '@components/redteam/NotesTripJourny.astro'
import NotesVulnerabilities from '@components/redteam/NotesVulnerabilities.astro'
import NotesEscalation from '@components/redteam/NotesEscalation.astro'
import NotesPostExploitation from '@components/redteam/NotesPostExploitation.astro'
import NotesNetwork from '@components/redteam/NotesNetwork.astro'
import NotesCPPT from '@components/redteam/NotesCPPT.astro'
import NotesPowershell from '@components/redteam/NotesPowershell.astro'
import NotesAndroid from '@components/redteam/NotesAndroid.astro'

import One from '@layouts/One.astro'

/* export async function getStaticPaths () {
	const collection = await getCollection('redteam')
	return collection.map(item => {
		const [res] = item.slug.split('/')
		return {
			params: {
				resource: res
			}
		}
	})
}
 */
---

<!DOCTYPE html>
<html lang='es'>
	<!-- <head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head> -->
	<One>
		<section class='pt-20'>
			<NotesVulnerabilities />
			<NotesBufferOverflow />
			<NotesNetwork />
			<NotesTripJourny />
			<NotesCPPT />
			<NotesEscalation />
			<NotesPostExploitation />
			<NotesPowershell />
			<NotesAndroid />
		</section>
	</One>
</html>
