---
import Title from '@components/redteam/Title.astro'
import { getCollection } from 'astro:content'
import { ENTRIES } from '../../consts'
import Link from './Link.astro'

const topOverFLow = (
	await getCollection('redteam', ({ id }) => {
		return id.startsWith(ENTRIES.BUFFER_OVERFLOW)
	})
).sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf())
---

<section>
	<Title>Buffer Overflow</Title>
	<ul>
		{
			topOverFLow.map((post) => {
				return <Link post={post} />
			})
		}
	</ul>
</section>
