---
import Title from '@components/redteam/Title.astro'
import One from '@layouts/One.astro'
import { Image } from 'astro:assets'
---

<One>
	<Title>Normativas en el Ámbito de la Seguridad de la Información</Title>
	<section>
		<h3>Esquema Nacional de Seguridad</h3>
		<p>Transformación digital segura</p>
		<Image
			height={333}
			width={701}
			src='https://res.cloudinary.com/djc1umong/image/upload/v1707418645/Screenshot_from_2024-02-08_14-58-30_iwc0bf.webp'
			alt='Transformación digital segura'
		/>
	</section>
	<section>
		<h3>PCI-DSS</h3>
	</section>
	<section>
		<h3>ISO 20000</h3>
	</section>
	<section>
		<h3>COBIT</h3>
		<p>Gobierno de TI</p>
		<ul>
			<li>A que se dedica la empresa</li>
			<li>objetivos de la empresa</li>
			<li>
				Recuersos que cuentas, y se se gestionan de forma correcta luego los
				procesos y si cumplen los objetivos especificos
			</li>
		</ul>
	</section>
</One>
