---
import HeaderLink from './HeaderLink.astro'
import { Search } from './Search'
import { SearchC } from './SearchC'
---

<header
	class='fixed sm:h-12 top-0 max-w-4xl w-full left-0 right-0 bg-[#f6f4f4] border-b mx-auto'
>
	<nav
		class='w-full py-1 justify-between items-center px-4 grid-cols-[36px_minmax(214px,350px)] gap-4 inline-flex'
	>
		<HeaderLink href='/'>Data</HeaderLink>

		<HeaderLink
			class='bg-green decoration-none text-red-800 hover:text-red-600'
			href='/hacked_printer'
		>
			Hacked printer
		</HeaderLink>

		<!-- 		<HeaderLink
			class='bg-green decoration-none text-red-800 hover:text-red-600'
			href='/cajas'
		>
			Cajas
		</HeaderLink> -->

		<Search client:only />
		<SearchC client:only />
	</nav>
</header>
