---
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } : Props = Astro.props

const { pathname } = Astro.url
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
---

<a class='px-2 py-2 mb-4 hover:text-neutral-200 bg-transparent font-bold text-neutral-400' href={href} class:list={[className, { active: isActive }]} {...props}>
	<slot />
</a>
<style>
	a {
		display: inline-block;
		text-decoration: none;
	}
	a.active {
		font-weight: bolder;
		text-decoration: underline;
	}
</style>
