---
import HeaderLink from './HeaderLink.astro'

---

<header class='fixed top-0 max-w-4xl w-full bg-[#f6f4f4] '>
	<nav class='flex w-full justify-between '>
		<HeaderLink href='/'>Home</HeaderLink>
	</nav>
</header>
