---
import { getCollection } from 'astro:content'
import CardOfBlogs from './CardOfBlogs.astro'

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
)

---

<section>
	<main>
		<h2 class='title text-4xl py-4 text-slate-800 font-bold'>Data Science</h2>
		<section class='my-10'>
			<ul>
				{
					posts.map((post) => {
						const { slug, data } = post
						return <CardOfBlogs
							slug={slug}
							title={data.title}
							description={data.description}
							pubDate={data.pubDate}
						/>
					})
				}
			</ul>
		</section>
	</main>
</section>

