---
import BaseHead from '@components/BaseHead.astro'
import Footer from '@components/Footer.astro'
import Header from '@components/Header.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from 'src/consts'

const { title } = Astro.props
---
<!DOCTYPE html>
<html lang='en'>
	<head>
		<BaseHead
			title={SITE_TITLE}
			description={SITE_DESCRIPTION}
		/>
		<base target='_blank'>
	</head>
	<body>
		<main class='text-xl tracking-wide leading-relaxed text-slate-800 max-w-4xl w-full mt-24 mx-auto'>
			<Header title={SITE_TITLE} />
			{
				title && <h1
					class='pb-10 text-6xl text-slate-800 font-semibold'
				> {title}</h1>
			}
			<slot />
		</main>
		<Footer />
	</body>
</html>
