---
import BaseHead from '@components/BaseHead.astro'
import Footer from '@components/Footer.astro'
import Header from '@components/Header.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from 'src/consts'

const { title } = Astro.props
---
<!DOCTYPE html>
<html lang='es'>
	<head>
		<BaseHead
			title={SITE_TITLE}
			description={SITE_DESCRIPTION}
		/>
		<base target='_blank'>
	</head>
	<body>
		<main class='text-xl tracking-wide leading-relaxed text-slate-800 max-w-4xl w-full mt-20 mx-auto px-4'>
			<Header title={SITE_TITLE} />
			{
				title && <h1
					class='pb-4 text-2xl font-semibold uppercase sm:text-3xl text-slate-800 sm:font-semibold'
				> {title.replace('_', ' ')}:</h1>
			}
			<slot />
		</main>
		<Footer />
	</body>
</html>
